



.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}



.room-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.sidebar {
    background-color:#f7f7f7;
}



.activity-feed {
    background-color:#f7f7f7;
}



.nav-bar {
    background-color:red;

}







h1 {


    color:green;
}

hr {


    color:blue;
}
