{% extends 'base/base.html'  %}

{% load static %}








{% block content %}



<link  type="text/css" href="{% static 'css/sadiq.css'%}" rel="stylesheet"  >

<div class="home-container">



    <div class="sidebar">
        <h3>Browse topics </h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All topics </a>
        </div>
        {% for topic in topics %}
        <div>
           <a href="{% url 'home'%}?q={{topic.name}}"> {{topic.name}}</a>
        </div>
        {% endfor %}
    </div>












<div>

    <div>

       <span><small>Total {{room_count}} rooms found </small> </span>
       <a href="{% url 'create_room' %}"> Create a new room </a><br><br>
    </div>

    {%  for room in rooms %}
    <div  >



        <span>@{{room.host}}</span>
        {% if user == room.host%}
           <a href="{% url 'update-room' room.name %}">Edit</a>
        <a href="{% url 'delete-room' room.name %}">Delete</a>
        {% endif %}
        <h5> <a href="{% url 'room' room.name %}"> {{room.name}} </a> </h5>
        <small> {{room.topic.name}}</small>
        <small> created:{{room.created}} </small>
        <small> upated:{{room.updated}} </small>
        <br>
        <br>

          <hr>
    </div>

        {%  endfor %}



    </div>






<div class="activity-feed">

<h3>Recent activity</h3>
<hr>
{% for message in room_messages %}
<p>@{{message.user}} {{message.created|timesince}} ago </p>

{% endfor %}
</div>








</div>




{% endblock  %}