{% extends 'base/base.html'  %}

{% load static %}








{% block content %}


<link  type="text/css" href="{% static 'css/sadiq.css'%}" rel="stylesheet"  >


<div class="home-container">
    <div>
        <h3>Browse topics </h3>
        <hr>
    </div>




    <div>
       <a href="{% url 'create_room' %}"> Create a new room </a>
    <div>

    {%  for room in rooms %}
    <div>



        <span>@{{room.host}}</span>
        <h5> <a href="{% url 'room' room.name %}"> {{room.name}} </a> </h5>
        <small> {{room.topic.name}}</small>
        <div> <small> created:{{room.created}} </small>
        <small> upated:{{room.updated}} </small>
        <br>
        <br>
           <a href="{% url 'update-room' room.name %}">Edit</a>
        <a href="{% url 'delete-room' room.name %}">Delete</a>
          <hr>
        </div>

        {%  endfor %}
    </div>

   </div>
    </div>


    </div>


</div>




{% endblock  %}