{% extends 'base/base.html'  %}
{% load static %}


{% block content %}

<link  type="text/css" href="{% static 'css/sadiq.css'%}" rel="stylesheet"  >






<div class="room-container">


    <div class="messages-container">
<h1>{{room.name}}</h1>   @{{room.host}}

<p> {{room.description}}</p>
<br><br>



<div class="comment-wrapper">
    <h5> Conversation </h5>
    <hr>
{% for message in text %}

<div>
  <small> by {{message.user}}  {{message.created|timesince}} ago </small>
  <p> {{message.body}} </p>
  <hr>
</div>
{% endfor%}
</div>









{% if user.is_authenticated %}
<div class="comment-form">
    <form action="" method="POST">
        {% csrf_token%}
        <input type="text" name="body" placeholder="write your message here">


    </form>

  </div>
   {% endif %}


</div>




<div class="participants-container">
<h3>Participants</h3>
<hr>
{% for user in participants %}

<p> @{{user.username}}</p>



{%endfor%}
</div>






</div>






{% endblock  %}